<!-- Title tray -->
<div class="container w-full py-16">
    <div class="text-5xl font-extrabold text-white">Trips</div>
</div>
<!-- Cards grid -->
<div class="mx-5 grid gap-6 sm:m-0 md:grid-cols-3">
    @for (trip of temporaryData; track trip.id) {
        <!-- Separate cards -->
        <div
            class="w-50 relative z-10 h-32 w-full cursor-pointer gap-x-2 rounded-md border border-solid border-white bg-cyan-700 p-3 text-white transition duration-200 hover:bg-cyan-600"
            (click)="onChooseTrip(trip.id)"
        >
            <div
                class="absolute right-3 z-20 grid content-center justify-center rounded-md bg-cyan-600 p-1 transition duration-200 hover:bg-orange-700"
                (click)="onDeleteClick($event, trip.id)"
            >
                <i-feather name="trash-2"></i-feather>
            </div>
            <div class="flex w-full justify-start text-2xl font-extrabold">
                {{ trip.destination }}
            </div>
            <div
                class="text-l flex h-full w-full items-center justify-end font-bold"
            >
                <div>
                    {{ trip.departureDate | date }} -
                    {{ trip.returnDate | date }}
                </div>
            </div>
        </div>
    }
    <!-- New trip card -->
    <div
        class="w-50 grid h-32 w-full cursor-pointer content-center justify-center gap-x-2 rounded-md border border-solid border-white bg-cyan-700 p-3 text-white transition duration-200 hover:bg-cyan-600"
        (click)="onCreateCardClick()"
    >
        <i-feather name="plus-circle"></i-feather>
    </div>
</div>

<!-- modal for deleting an item -->
@if (deleteModalOpenedFor || deleteModalOpenedFor === 0) {
    <app-modal>
        <div
            class="absolute right-3 top-3 grid cursor-pointer rounded-full hover:bg-orange-700"
            (click)="onModalCloseClick()"
        >
            <i-feather name="x-circle"></i-feather>
        </div>
        <!-- Content of modal -->
        <div class="grid w-full place-items-center pb-10 text-2xl">
            <span
                >Are you sure you want to delete trip
                {{ deleteModalOpenedFor }}?
            </span>
        </div>
        <div class="flex flex-row items-center justify-around">
            <button
                class="h-fit w-fit rounded-md bg-cyan-700 p-4 text-center"
                (click)="onConfirmDeleteClick(deleteModalOpenedFor)"
            >
                Delete
            </button>
            <button
                class="h-fit w-fit rounded-md bg-cyan-700 p-4 text-center"
                (click)="onCancelDownloadClick()"
            >
                Cancel
            </button>
        </div>
    </app-modal>
}

@if (isCreateModalOpen) {
    <app-modal>
        <app-create-trip></app-create-trip>
    </app-modal>
}
