<form class="grid text-white" [formGroup]="form">
    <fieldset>
        <div class="text-3xl font-extrabold text-white">Login:</div>
        <div class="form-field">
            <label>Email:</label>
            <input
                class="text-black"
                name="username"
                formControlName="username"
            />
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input
                class="text-black"
                name="password"
                formControlName="password"
                type="password"
            />
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="login()">Login</button>
        <button (click)="logout()">Logout</button>
    </div>
</form>
